Request for additional special IP ranges (from RFCs)

Consider adding additional special _range identifications for IPv4 subnets commonly used in the telecom industry:
- Multicast SSM (RFC 3569): 232.0.0.0/8 and FF3x::/96 
- TEST-NET (RFC 5737): 192.0.2.0/24
- TEST-NET2 & TEST-NET3 (RFC 5737): 198.51.100.0/24 and 203.0.113.0/24
- 6to4 anycast (RFC 3068): 192.88.99.0/24
- Autoconfiguration (RFC 6890): 169.254.0.0/16
- DS-Lite (RFC 6333): 192.0.0.0/29

A non-exhaustive list is here:
http://en.wikipedia.org/wiki/Reserved_IP_addresses
